*,
*::after,
*::before {
  box-sizing: inherit;
  padding: 0;
  margin: 0; }

html {
  font-size: 62.5%; }

body {
  font-family: "Rubik", sans-serif;
  box-sizing: border-box;
  font-weight: 500;
  font-size: 1.2rem;
  color: #6a708a; }

.heading-primary {
  font-size: 3.6rem;
  font-weight: 700;
  word-spacing: 1rem;
  color: #000; }

.paragraph-primary {
  font-size: 1.6rem;
  font-weight: 200;
  word-spacing: 0.3rem; }

.heading-secondary {
  font-size: 2.6rem;
  font-weight: 700;
  word-spacing: 0.7rem;
  color: #000; }

.heading-tertiary {
  font-size: 2.1rem;
  font-weight: 5700;
  word-spacing: 0.5rem;
  color: #000; }

.paragraph-secondary {
  font-size: 1.2rem;
  font-weight: 200;
  word-spacing: 0.3rem; }

.u-mb-small {
  margin-bottom: 2rem; }

.u-mb-medium {
  margin-bottom: 4rem; }

.u-mb-big {
  margin-bottom: 6rem; }

.u-mr-small {
  margin-right: 2rem; }

.u-center-text {
  text-align: center; }

.u-font-small {
  font-size: 1.3rem !important; }

.btn {
  padding: 2rem 4rem;
  font-size: 1.6rem;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  font-weight: 700;
  transition: transform 0.3s;
  border-radius: 0.7rem; }
  .btn-nav:hover, .btn-nav:active {
    box-shadow: 0.2rem 1.3rem 2.9rem rgba(106, 112, 138, 0.24);
    color: #fff;
    background-color: #fa5757;
    transform: translateY(-4px); }
  .btn:visited, .btn:visited {
    text-decoration: none;
    transform: translateY(-2px); }
  .btn-blue {
    background-color: #5368df;
    box-shadow: 0.2rem 1.3rem 2.9rem rgba(106, 112, 138, 0.24);
    color: #fff; }
  .btn-grey {
    color: black;
    background-color: #fff;
    box-shadow: 0.2rem 1.3rem 2.9rem rgba(106, 112, 138, 0.24); }
  .btn-blue:hover, .btn-grey:hover {
    box-shadow: 0.2rem 1.3rem 2.9rem rgba(106, 112, 138, 0.24);
    transform: translateY(-4px); }

.tab-area {
  padding: 4rem 7rem; }

.tab-group {
  margin: 0 auto;
  width: 61%;
  text-align: center; }

.tab__panel {
  list-style: none;
  font-size: 1.6rem;
  display: inline-block;
  padding: 3rem 5rem;
  text-transform: capitalize; }

.tab-content {
  position: relative;
  height: 46rem; }

.content-panel {
  position: absolute;
  top: 0%;
  left: 0%; }

#simple-bookmarking:target,
#speedy-searching:target,
#speedy-searching:target {
  z-index: 1; }

.paper {
  box-shadow: 0.2rem 1.3rem 2.9rem rgba(106, 112, 138, 0.24);
  padding: 3rem 5rem;
  text-align: center; }
  .paper-1 {
    position: relative;
    top: 5%; }

.download {
  position: relative; }
  .download__box {
    padding: 1.7rem 3rem;
    margin-bottom: 2rem; }
  .download__cta {
    border-top: 0.2rem dotted #6a708a;
    padding: 3rem 0rem; }

.feature {
  width: 30%;
  margin: 0 auto; }

.header__text-box {
  padding: 6rem 3rem; }

.header__image-box {
  width: 100%;
  height: 100%; }

.main-image {
  width: 100%;
  height: auto; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row::after {
    content: "";
    display: table;
    clear: both; }

.col-1-of-2 {
  width: calc((100% - 7rem) / 2);
  float: left; }

.col-1-of-3 {
  width: calc((100% - 2 * 7rem) / 3);
  float: left; }

.col-1-of-3:not(:last-child) {
  margin-right: 7rem; }

.navigation__list {
  float: right;
  list-style: none; }

.navigation-item {
  text-transform: uppercase;
  font-weight: 500;
  display: inline-block; }

.navigation__logo-box {
  float: left;
  height: auto;
  width: 15rem; }

.navigation__logo {
  width: 100%; }

.main-navigation {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2rem 3rem; }

.header {
  padding: 5rem 7rem;
  margin-top: 7rem; }

.section-download {
  padding: 5rem 7rem; }

.section-faq {
  padding: 5rem 7rem; }

.faq {
  padding: 3rem 5rem;
  text-align: center; }
