.navigation {
  &__list {
    float: right;
    list-style: none;
    font-size: 1.3rem;

    @include respond(phone) {
      display: none;
    }
  }

  &-item {
    text-transform: uppercase;
    font-weight: 500;
    display: inline-block;
  }

  &__logo-box {
    float: left;
    height: auto;
    width: 15rem;
  }

  &__logo {
    width: 100%;
  }
}

.hamburger-menu {
  &__icon {
    position: fixed;
    top: 2rem;
    right: 6rem;
    z-index: 100;
  }

  & path {
    fill: $color-secondary-blue;
    cursor: pointer;
    display: none;

    @include respond(phone) {
      display: block;
    }
  }
}

.menu__backdrop {
  position: fixed;
  z-index: 90;
  background-image: linear-gradient(to left bottom, #5368dfb3, #6a708aed);
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  height: 0%;
  width: 0%;
}
.remove-nav {
  opacity: 1 !important;
  visibility: visible !important;
}
.remove-items {
  padding: 0 !important;
  height: 100vh !important;
  width: 100vw !important;
  opacity: 1 !important;
  visibility: visible !important;
}

.remove-navlist {
  opacity: 1 !important;
  visibility: visible !important;
}

.mobile-nav {
  position: absolute;
  z-index: 120;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 3rem;
  color: #fff;
  opacity: 0;
  visibility: hidden;

  &__logo {
    width: 100%;
  }
  &__logo-box {
    height: auto;
    width: 70%;
    margin: 0 auto;
  }

  &__list {
    @include absCenter;
    text-align: center;
    height: 70%;
    width: 70%;
    opacity: 0;
    visibility: hidden;
    list-style: none;
  }

  &__item:not(:last-child) {
    margin-bottom: 3rem;
  }
}

.social-media {
  position: absolute;
  left: 20%;
  bottom: 5%;
  width: 50%;
  height: 15rem;

  &-icon {
    height: 100%;
    width: 45%;

    > img {
      width: 60%;
    }
  }
}

.close-icon {
  position: absolute;
  top: 7rem;
  right: 7rem;
  width: 7rem;
  height: 6rem;
  text-align: center;
}
