.btn {
  padding: 2rem 4rem;
  font-size: 1.6rem;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  font-weight: 700;
  transition: transform 0.3s;
  border-radius: 0.7rem;

  @media (max-width: 1102px) {
    & {
      padding: 1.9rem 2.7rem;
      font-size: 1.3rem;
    }
  }
  @media (max-width: 600px) {
    & {
      padding: 1.3rem 1.3rem;
      font-size: 0.9rem;
    }
  }

  &-ghost {
    padding: 5rem 4rem;
    &:not(:last-child) {
      margin-bottom: 2rem;
    }

    &:hover {
      border: 0.3rem solid #fff;
      border-radius: 0.4rem;
    }
  }

  &-nav:hover,
  &-nav:active {
    box-shadow: $box-shadow;
    color: #fff;
    background-color: $color-primary-red;
    transform: translateY(-4px);
  }

  &:visited,
  &:visited {
    text-decoration: none;
    transform: translateY(-2px);
  }

  &-blue {
    background-color: $color-primary-blue;
    box-shadow: $box-shadow;
    color: #fff;
  }
  &-grey {
    color: black;
    background-color: #fff;
    box-shadow: $box-shadow;
  }

  &-blue:hover,
  &-grey:hover {
    box-shadow: $box-shadow;
    transform: translateY(-4px);
  }
}
