.tab {
  &-area {
    padding: 4rem 7rem;
  }

  &-group {
    margin: 0 auto;
    text-align: center;
  }

  &__panel {
    list-style: none;
    font-size: 1.6rem;
    display: inline-block;
    padding: 1.6rem 4rem;
    text-transform: capitalize;
    border-bottom: 0.1rem solid $color-secondary-blue;
    border-radius: 0.3rem;
    box-shadow: $box-shadow;

    @include respond(tab-port) {
      margin-top: 3rem;
    }

    @include respond(tab-port) {
      margin-top: 0;
    }
    &:not(:last-child) {
      margin-right: 1rem;
    }

    &:hover {
      background-color: $color-secondary-blue;
      color: #fff;
    }
  }
  &-content {
    position: relative;
    height: 33rem;
    margin-top: 5rem;
  }

  &__content-panel {
    position: absolute;
    top: 0%;
    left: 0%;
    visibility: hidden;
    opacity: 0;

    & .panel__image {
      width: 100%;
    }

    &-1 {
      visibility: visible;
      opacity: 1;
    }
  }
}

.display-tab {
  visibility: visible;
  opacity: 1;
}
