.tab {
  &-area {
    padding: 4rem 7rem;
  }

  &-group {
    margin: 0 auto;
    text-align: center;
  }

  &__panel {
    list-style: none;
    font-size: 1.6rem;
    display: inline-block;
    padding: 3rem 5rem;
    text-transform: capitalize;
  }
  &-content {
    position: relative;
    height: 33rem;
    margin-top: 5rem;
  }

  &__content-panel {
    position: absolute;
    top: 0%;
    left: 0%;

    & .panel__image {
      width: 100%;
    }
  }
}
