.heading-primary {
  font-size: 3.6rem;
  font-weight: 700;
  word-spacing: 1rem;
  color: #000;
  padding: 2.9rem;
}

.paragraph-primary {
  font-size: 1.6rem;
  font-weight: 200;
  word-spacing: 0.3rem;
  padding: 1.9rem;
}
.heading-secondary {
  font-size: 2.6rem;
  font-weight: 700;
  word-spacing: 0.7rem;
  color: #000;
  padding: 1.9rem;
  text-transform: capitalize;
}
.heading-tertiary {
  font-size: 2.1rem;
  font-weight: 700;
  word-spacing: 0.5rem;
  color: #000;
  padding: 0.9rem;
  font-weight: 700;
  text-transform: capitalize;
}

.paragraph-secondary {
  font-size: 1.4rem;
  font-weight: 500;
  word-spacing: 0.3rem;
  line-height: 0.2rem;
}
