.u-mb-small {
  margin-bottom: 2rem;
}
.u-mb-medium {
  margin-bottom: 4rem;
}
.u-mb-big {
  margin-bottom: 6rem;
}

.u-mr-small {
  margin-right: 1rem;
}
.u-center-text {
  text-align: center;
}

.u-font-small {
  font-size: 1.3rem !important;
}
