.main-navigation {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2rem 3rem;
  box-shadow: $box-shadow;

  &:hover {
    box-shadow: $box-shadow-2;
  }
}

.section-feature {
  padding: 5rem 7rem;

  & > .feature {
    width: 43%;
    margin: 0 auto;
    @media (max-width: 600px) {
      width: 85%;
    }
  }
}

.section-download {
  padding: 5rem 7rem;

  @include respond(tab-port) {
    padding: 8rem 7rem;
    margin-top: 20rem;
  }
}

.section-faq {
  padding: 8rem 25rem;

  @include respond(tab-port) {
    padding: 5rem 9rem;
  }
  @include respond(phone) {
    padding: 5rem 7rem;
  }
}
